/*--------------------------------------
    Google Fonts
---------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300;400;500;600;700&family=Roboto+Condensed&family=Ubuntu:wght@400;500;700&display=swap');

/*--------------------------------------
variables
---------------------------------------*/

:root{
    --orange: hsl(36, 80%, 50%);
    --white:hsl(0,0%,100%);
    --WHITE:hsl(0,0%,100%);
    --BLACK:hsl(0,0,0);
    --black-90:hsl(0,0,10%);
    --black-70:hsl(0,0,30%);
    --yellow-light:hsl(44, 95%, 83%);
    --green-light:hsl(158, 68%, 75%);
    --red-light:hsl(0, 84%, 80%);
    --orange-light:hsl(22, 85%, 80%);
    --select-box-bg-color:hsl(0,0,100%);
    --border-color-1:hsl(0,0, 90%);
}

/*--------------------------------------
 base
---------------------------------------*/
/*Body defualt text is 16px, so I have kept it that way and used ems and rems
(rarely or never i guess) to scale text accordingly.
*/
body{
    /*background-color: (var(--WHITE));*/
    background-color:var(--body-bg-color);
    /*background-image: linear-gradient(#fcf3f3,#ffddee);*/
    
    /*background-image: linear-gradient(#fcf3f3,#FFC2E0);*/
    /*background-image: linear-gradient(#fcf3f3, #ffb3d9);*/
   
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}

a{
    color:var(--main-color);
    text-decoration: none;
}

a:hover{
    color: var(--main-color);
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*mb-3 stands for margin bottom by the way. 3 can vary from 0 to 6 i guess*/
h1, h2, h3, h4, h5, h6{
    color:var(--black-90);
    line-height: 1.3;
}

/* When selecting with right click drag, colors the text with the
color specified and gives background the color specified.*/
::selection{
    color: var(--WHITE);
    background-color: var(--main-color);
}

/*--------------------------------------
Header
---------------------------------------*/

.header{
    border-bottom: 1px solid var(--border-color-2);
}

.header-logo a{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-70);
}

.header-logo span{
    color: var(--main-color);
}

.header .menu-item{
    display: inline-block;
    margin-left: 2em;
    position: relative;
}

.header .menu-item::after{
    content: "";
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);

    transform:translateY(-1200%) scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in;
}

.header .menu-item:hover::after{
    
    transform-origin: left;
    transform:translateY(-1200%) scaleX(1);
}

.header .menu-item a{
    display: block;
    padding: 1.5em 0;
    font-weight: 400;
    color: var(--black-90);
    text-transform: capitalize;
    transition: color 0.4s ease;

}

.header .menu-item a:hover{
    color: var(--main-color); 
} 

  

.header-backdrop,
.header-close-btn,
.header-hamburger-btn{
    display: none;
}

/*--------------------------------------
Banner Section
---------------------------------------*/

.banner-section{
    padding: 5em 0;/*may need adjustment*/
    min-height:860px;
}

.banner-text h1{
    font-size: 3.2em;
    font-weight: 550;
}

.banner-text h2{
    font-size: 2.2em;
    color: var(--main-color);
}

/*Banner Image and banner circle --> Behind the image.*/
.bnrImg {
    z-index: 1;
    position:absolute;
    left: 24%;
    bottom: 0;
}

.circular-img-circle{
    height: 28em;
    width: 28em;
    position:absolute;
    left: 20%;
    bottom: 0;
    border-radius:50%;
}


.circular-img{ 
    margin: auto;
    max-width: 480px;
    z-index:1;
}

.circular-img-inner{
    text-align: center;
    border-radius: 0 0 180px 180px;
}

.banner-section .circular-img-circle{
   background-color: var(--red-light);
}

/*--------------------------------------
About Us
---------------------------------------*/



.verticalCenter{
   /* margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#aboutUsCenter{
    display: table; 
    max-height: 400px; 
    overflow: hidden;
}

#abtusheading{
    display: table-cell; vertical-align: middle;
}


.centerHeading{
    text-align: center;
}


#event1{
    margin-top:3em;
    margin-bottom: 3em;
    width: 100%;
    max-height: 100%; 
}

.carousel-item{
    transition: transform 2.5s ease-in-out;  
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}
/*--------------------------------------
Events
---------------------------------------*/
.events{

}

.gatherings{
    margin-top:2em;
}

#foodImage{
    height: 400px;
}

/*--------------------------------------
Contact
---------------------------------------*/

.contact{
    margin-top: 2em;
}
#ashImage{
    margin-left: 5em;
}
/*
.contact img{
    float: left;
}*/

/*.contact h3{
    float: right;
}*/

/*--------------------------------------
Footer
---------------------------------------*/

.foot{
   /*background-color: #ffddee;*/
   /*background-color:#c75f82;*/
   /*background-image: linear-gradient(#c75f82,#FFC2E0);*/
   /*background-image: linear-gradient(to bottom right, #ffddee,#c75f82);*/
    /*background-color: var(--footer-color-2);*/
    margin-top: 2em;
    padding-top:2em;
    background-color: hsl(0,0%,10%);
    color: var(--WHITE);
}

.outerfooter{
    text-align: center;
}

.iiserLogo{
    float: left;
    max-width: 330px;
    max-height: 330px;
}

#iiseraddress{
    text-align: left;
    margin-top:2em;
    line-height: 2em;
    height: 2em;
}

.iiserAdd{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    /*float: left;*/
}


.social-links {
    display: flex;
    
}

.social-links ul{
    display: flex;
    margin: auto;
}

.social-items{
    list-style: none;
    padding: 0 3em;
}

.social-items a{

    font-size: 2em;
}

.social-items a:hover{
     
}

.quick-links{
    display: flex;
    margin: auto;
}

.quick-links ul{
    display: flex;
 
}

.quick-items{
    list-style:none;
    margin: auto;
}
.quick-items a{
    font-size: 1em;
    color: var(--black-70);    
}

.quick-items a:hover{
    color: var(--main-color);
    transition: color 0.4s ease;
}


/*--------------------------------------
buttons
---------------------------------------*/
.btn{
    position: relative;
    border: 0;
    z-index: 1;
}

.btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: #a3666f;*/
    background: #e19992;
    /*background: #f3eed9;*/
    /*background: #798897;*/
    /*background: #df5b13;*/
    /*background: #1a648e;*/
    /*background: #574240;*/

    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in;
}

.btn:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.btn-theme{
   background-color: var(--main-color);
   /*background-color: #5f0000;*/
    /*background-color:#574142 ;*/
    color: var(--WHITE);
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 500;
    padding:1em 2em;
    transition: all 0.3s ease;
}

.btn-theme:hover{
    color: black;
    background-color: var(--button-hover-color);
}

.btn-theme:focus{
    box-shadow:0px 0px 8px var(--main-color);
}

.btn-block{
    width: 100%;    
}

.btn-form{
    height: 4em;
}

/*--------------------------------------
Custom bootstrap
---------------------------------------*/

.container {
    --bs-gutter-x: 1em; /*Gutters are the paddings between columns*/
    max-width: 1500px;
}

.row{
    --bs-gutter-x: 10em;
}

/*--------------------------------------
box
---------------------------------------*/

.box{
    background-color: var(--white); 
    padding: 2em 2em;
}

.paraBox{
    border: 1px solid var(--border-color-3);

    /*
    border-top: 1px solid red;
    border-left:1px solid red;
    border-right:1px solid red;
    border-bottom:1px solid red;
    */
   /* padding: 1em 1em;*/
}

/*--------------------------------------
forms
---------------------------------------*/
.form-group{
    margin-bottom: 1.5em;
    position: relative;
}

.form-control{
    border-color: var(--border-color-2);
    color: var(--black-90);
    background-color: transparent;
}

.form-control:focus{
    background-color: transparent;
    border-color: var(--border-color-1);
    color: var(--black-90);
    box-shadow: none;
}

.testTxt:focus{
    color: var(--WHITE);
    border-color: var(--WHITE);    
}

/*--------------------------------------
Breadcrumbs
---------------------------------------*/

.breadrumb-nav{
 padding: 10px 0;   
}

.breadcrumb-nav .breadcrumb-item{
    font-size: 1em;
    text-transform: capitalize;
}

.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active{
    color: var(--black-70);
}


/*--------------------------------------
Miscallaneous
---------------------------------------*/

#contactText{   
    font-size: 1.2em;
    font-weight: 2em;
}
.envLogo{
    margin-left: 2em;
}

.mediaIcons li{
    display: inline;
}

.top-border{
   /*   margin-top:2em;*/
    border-top: 1px solid var(--border-color-2);
}

.bottom-border{
    padding: 8px 8px;
    margin-top: 1em;
    border-top: 1px solid var(--border-color-2);
}

.heavyPara{

    font-weight: 400;
    font-size: 1.1em;
    text-align: left;
    margin-top: 1em;
}

.mainColor{
    color:var(--main-color);
}

.bk70{
    font-weight: 400;
}

.centerTest{
    width: 100%;
    height: 100%;
  /*  background-color: #ffddee;*/
    text-align: center;
}

.centerText{
    
    margin: 1em 1em;
    padding: 2em 2em;
}

.pad1{
    padding: 1em 1em;
}


.testTxt::placeholder {
    color: var(--WHITE);
    opacity: 1; 
}
